<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "index", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
</head>    
<body>
    <section class="showcase">
    <header>
        <h2 class="logo"><%= @title %></h2>
        <div class="toggle"></div>
    </header>
    <%= form_with(model: @part, local: true, url: part_create_path, method: :post) do |form| %>
    <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
    </div>

    <table>
        <tr>
            <td class="text"><%= form.label :CompanyId, 'Company ID' %></td>
            <td><%= form.text_field :CompanyId, value: @current_company.to_s.upcase %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :PartNum, 'Part Number' %></td>
            <td><%= form.text_field :PartNum %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :PartDescription, 'Part Description' %></td>
            <td><%= form.text_field :PartDescription %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :SerialTracked, 'Track Serial Numbers' %></td>
            <td><%= form.check_box :SerialTracked %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :PhantomBOM, 'Phantom BOM' %></td>
            <td><%= form.check_box :PhantomBOM %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :DefaultUom, 'Default Unit of Measure' %></td>
            <td><%= form.text_field :DefaultUom %></td>
        </tr>
    </table>


    <div class="text">
        <%= form.submit 'Create', class: 'submitButton' %>
    </div>

    <% end %>    
    </section>
</body>
</html>