<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "index", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
</head>    
<body>
    <section class="showcase">
    <header>
        <h2 class="logo"><%= @title %></h2>
        <div class="toggle"></div>
    </header>
    <%= form_with(url: part_create_path, method: :post) do |form| %>
    <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
    </div>

    <div class="text">
        <h3>Part</h3>
    </div>

    <table>
        <tr>
            <td class="text"><%= form.label :company_id, 'Company ID' %></td>
            <td><%= form.text_field :company_id, value: @current_company.to_s.upcase %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :part_num, 'Part Number' %></td>
            <td><%= form.text_field :part_num %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :part_description, 'Part Description' %></td>
            <td><%= form.text_field :part_description %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :serial_tracked, 'Track Serial Numbers' %></td>
            <td><%= form.check_box :serial_tracked %></td>
        </tr>

        <tr>
            <td class="text"><%= form.label :default_uom, 'Default Unit of Measure' %></td>
            <td><%= form.text_field :default_uom %></td>
        </tr>
    </table>


    <div class="text">
        <%= form.submit 'Create', class: 'submitButton' %>
    </div>

    <% end %>    
    </section>
</body>
</html>