<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "user-admin", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
</head>     
<body>
    <section class="showcase">
    <header>
        <h2 class="logo"><%= @title %></h2>
        <div class="toggle"></div>
    </header>
    <%= video_tag 'user-admin-background.mp4', controls: false, autoplay: true, loop: true, muted: true %>
    <div class="overlay"></div>
    
    <%= form_for @user do |form| %>
    <div>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <table>
          <tr>
              <td class="text">
                <%= form.label :username, 'User name:' %>
              </td>
              <td>
                <div class="text">
                    <%= form.text_field :username %>
                </div>
              </td>
          </tr>
          <tr>
              <td class="text">
                <%= form.label :firstname, 'First name' %>
              </td>
              <td>
                <div class="text">
                    <%= form.text_field :firstname %>
                </div>
              </td>
          </tr>
          <tr>
              <td class="text">
                <%= form.label :lastname, 'Last name:' %>
              </td>
              <td>
                <div class="text">
                    <%= form.text_field :lastname %>
                </div>
              </td>
          </tr>
          <tr>
              <td class="text">
                <%= form.label :email, 'Email' %>
              </td>
              <td>
                <div class="text">
                    <%= form.email_field :email, required: true %>
                </div>
              </td>
          </tr>
          <tr>
              <td class="text">
                <%= form.label :password, 'Password:' %>
              </td>
              <td>
                <div class="text">
                    <%= form.password_field :password %>
                </div>
              </td>
          </tr>
          <tr>
              <td class="text">
                <%= form.label :password_confirmation, 'Password confirmation:' %>
              </td>
              <td>
                <div class="text">
                    <%= form.password_field :password_confirmation %>
                </div>
              </td>
          </tr>
          <tr>
            <td>
              <div class="text">
                <%= form.submit 'Create', class: 'submitButton' %>
              </div>
            </td>
          </tr>
      </table>
    <div>
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
    </div>

  <% end %>
    </div>
  </section>
</body>
</html>
