<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "user-admin", media: "all" %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
</head>     
<body>
    <section class="showcase">
    <header>
        <h2 class="logo"><%= @title %></h2>
        <div class="toggle"></div>
    </header>
      <%= video_tag 'user-admin-background.mp4', controls: false, autoplay: true, loop: true, muted: true %>
      <div class="overlay"></div>
      <%= form_for(@user, url: registration_path(@user)) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <table>
          <tr>
              <td class="text"><%= form.label :username, 'User name:' %></td>
              <td><%= form.text_field :username, class: 'input-box' %></td>
          </tr>
          <tr>
              <td class="text"> <%= form.label :firstname, 'First name:' %> </td>
              <td><%= form.text_field :firstname %></td>
          </tr>
          <tr>
              <td class="text"> <%= form.label :lastname, 'Last name:' %> </td>
              <td><%= form.text_field :lastname %></td>
          </tr>
          <tr>
              <td class="text"> <%= form.label :email %> </td>
              <td><%= form.text_field :email %></td>
          </tr>
          <tr>
              <td class="text"> <%= form.label :password %> </td>
              <td><%= form.password_field :password %></td>
          </tr>
          <tr>
              <td class="text"><%= form.label :password_confirmation %></td>
              <td><%= form.password_field :password_confirmation %></td>
          </tr>
      </table>

      <div class="text">
          <%= form.submit 'Create', class: 'submitButton' %>
      </div>
  <% end %>
  <%= link_to 'Back', new_user_path %>
  </section>
</body>
</html>
