<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "site", media: "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
    <%= javascript_importmap_tags %>
</head>    

<body>
  <!-- Main content rendered by yield or action -->
  <%= yield %>

  <!-- Menu -->
  <div class="menu">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %> 
      <li><%= link_to 'Part', part_path %></li>
      <li><%= link_to 'Games', games_path %></li>
      <li><%= link_to 'User Administration', users_path %></li>
    </ul>
  </div>  

  <!-- JavaScript file -->
  <%= javascript_include_tag "menu" %>

  <!-- Render custom scripts (optional, use @content_for or yield if necessary) -->
  <%= yield :scripts %>
</body>
</html>